.handlediv:before {
  margin-top:-45px;
  float:right;
  left: 12px;
  font: normal 20px/1 'dashicons';
  content: '\f142';
}

.welcome-panel-content{max-width:100%;}

.welcome-panel-column-container{margin-top:30px;}

.welcome-panel{font-size:14px;}

.welcome-panel h1, .welcome-panel h2{font-weight:bold; margin:0; margin-left:15px;}

.welcome-panel .about-description{color:#000;}

.welcome-panel-content h2{width:300px; display:inline-block;}

.welcome-panel h4 {
    font-weight:bold;
    margin: 0.33em 0 0;
}

.welcome-panel h5 {
    font-size:14px;
    font-weight:bold;
    font-style:italic;
    margin: 0.33em 0 0 12px;
}

.make-request{
	border: solid;
	  border-color: #ccc;
  border-width: 1px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 12px;
  min-height: 28px;
  padding: 0 10px;
  max-width: 100%;
}

.pass{color:#00cc66;}
.fail{color:#cc0000;}

.ready-button{
margin:35px;
  text-align:centeR;
}